<link rel="stylesheet" href="/css/footer.css">
<ul class="footer-content">
    <li class="left">
        <ul>
            <li>Subsribe NewsLetter</li>
            <li>Follow IG</li>
            <li>Follow FB</li>
        </ul>
    </li>
    <li class="right">
        <ul>
            <li>About Us</li>
            <li><a href="/user/checkTranscation.php">Check Purchase Record</a></li>
            <li><a href="/admin/panel.php">Admin Panel</a></li>
        </ul>
    </li>
</ul>
<div id="copyright">
    <p>© 2021 PriMarket Online Store. All rights reserved.</p>
</div>
